.App {
  font-family: "Roboto", sans-serif;
}
.container{
  background-color: #eaeaea;
  margin-top: 40px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 6px 8px 10px -8px rgba(0,0,0,0.69);
}
.form-group{
  margin-bottom: 15px;
}
.title, .subtitle{
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}
label{
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .list-group{
  background-color: grey;
} */
.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #d1b3c4;
  border: none;
  border-radius: 30px;
  padding: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  box-shadow: 4px 10px 10px -9px rgba(0,0,0,0.69);
}
.options:hover{
  opacity: 0.8;
}
.options.correct{
  background-color: #74c69d;
}
.options.incorrect{
  background-color: #f95738;
}
